# +----------------------------+
# |        E X C L U D E       |
# +----------------------------+

# temporary (microsoft) working files
[~$]*
[~.$]*

# exclude todo-files
.todo

# VSCode
.vscode/



# +----------------------------+
# |        I N C L U D E       |
# +----------------------------+

# keep .gitkeep files
!/**/.gitkeep

# keep .gitignore files
!/**/.gitignore